[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
loguru = "*"
pymzml = "*"
networkx = "*"
gensim = "*"
tqdm = "*"
jupyterlab = "*"
ipython = "<8.0"

[dev-packages]
twine = "*"
build = "*"

[requires]
python_version = "3"
