[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pymzml = "*"
networkx = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
gensim = "*"
tqdm = "*"
seaborn = "*"
matplotlib = "*"
loguru = "*"

[dev-packages]

jupyterlab = "*"

[requires]
python_version = "3"
