[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
loguru = "*"
jupyterlab = "*"
ipywidgets = "*"
pytorch = "*"
tqdm = "*"
networkx = "*"
gensim = "*"
pymzml = "==2.4.7"
mass-spec-utils = "*"

[dev-packages]
twine = "*"
build = "*"

[requires]
python_version = "3"
